  
 .home-container {
    color: whitesmoke;
    text-align: center;
    background-size: 100%; 
    background-position: center;
    background-color: #212529;
    
   }

   .card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
   }


