/* Estilos para el contenedor principal */
.infoContainer {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  /* Estilos para el contenedor interno */
.innerContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #1c1f23;
    margin: 70px 32px 32px 32px;
    border-radius: 8px;
    padding: 32px;
    height: 1200px;
    box-shadow: 4px 4px 10px 8px #151515;
  }
  
  /* Estilos para el título */
  .info-container h1 {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  /* Estilos para la descripción */
  .info-container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
    text-align: center;
    max-width: 600px;
  }
  
  /* Estilos para la imagen */
  .info-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  }

  .info-container .series {
    display: flex;
  }

  .play-button, .pause-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    color: black;
  }
  
  .play-button:hover, .pause-button:hover {
    color: #ff0000;
  }
  
  .play-button {
    margin-right: 16px;
  }
  
.relatedContainer{
  display: flex;
  flex-flow: column wrap;
  margin-top: 65px;
  align-items: center;
  

}
